header {
  background: url('DRZpic\(mobile\).jpg') no-repeat 50%;
  background-size: cover;
  color: white;
  height: 97vh;
}

header .name {
  position: relative;
  top: 16%;
  margin-left: 10%
}
header #contact {
  position: fixed;
  bottom: 10%;
  right: 20%; 
}
header h1 {
  text-shadow: -2px 2px 5px #000;
}

header p {
  font-size: 21px;
  font-weight: 300;
  text-shadow: -1px 1px 5px #000;
}
.link-button:hover,
.link-button:focus {
text-decoration: none;
}
.hidden {
  visibility: hidden 
}
.description {
  background: url('NYC-path.jpg') no-repeat 50%;
  background-size: cover;
  height: 97vh;
}
.description p {
  color: white;
  position: relative;
  top: 15%;
  margin-left: 14%;
  margin-right: 10%;
  font-size: 21px;
  text-shadow: 2px 3px 5px #000;
}
.imgskill {
  margin: 1% 1% 1% 1%;
}
.skills {
  background: url('skills.jpg') no-repeat 50%;
  background-size: cover;
  height: 100vh;
}
.skill {
  padding-top: 5%;
  color: white;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 18px;
  text-shadow: 2px 3px 5px #000;
}
.navbar-brand:hover {
  cursor: pointer;
}
.portfolio {
  background-color: rgb(224, 224, 224);
  background-size: cover;
  height: auto;
}
.pages {
  padding-top: 2%;
  padding-bottom: 2%;
  color: rgb(0, 0, 0);
  position: relative;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 18px;
}
.contact {
  background-color: rgb(163, 163, 163);
  background-size: cover;
  height: 97vh;
}
.contact h1 {
  margin: 0px
}
.alert:last-child {
  margin: 0px

}
.contactinfo {
  position: relative;
  top: 10%;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 18px;
  font-weight: 300;
}
@media (min-width: 768px) {
  header {
    background: url('DRZpic.jpg') no-repeat 50%;
    background-size: cover;
    color: white;
    height: 100vh
  }
  header .name {
    position: relative;
    top: 43%;
    margin-left: 20%
  }
  header #contact {
    visibility: hidden   
  }
  .description p {
    position: relative;
    top: 20%;
    margin-left: 20%;
    margin-right: 30%;
    font-size: 21px;
    font-weight: 300;
    text-shadow: 2px 3px 5px #000;
  }
}